@page "/samples/compare/{Id1}-{Id2}"
@using SampleDatabaseBuilder.Services
@using Microsoft.EntityFrameworkCore
@using NutritionApp.Services
@inject SampleService SampleService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

@if (errorMessage != null)
{
    <h1>@errorMessage</h1>
    return;
}

@if (analysisItemsByCatagory1.Any())
{
    @for (var i = 0; i < analysisItemsByCatagory1.Count; i++)
    {
        var pair1 = analysisItemsByCatagory1.ToArray()[i];
        var pair2 = analysisItemsByCatagory2.ToArray()[i];

        <FluentCard MinimalStyle="true">
            <FluentGrid>
                <FluentGridItem xs="12">
                    <FluentLabel Typo="Typography.H2">@pair1.Key</FluentLabel>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="6">
                    <FluentDataGrid Items="@pair1.Value.AsQueryable()" Style="width: 60%; table-layout: auto;">
                        <PropertyColumn Title="分析項名稱" Property="@(i => i.AnalysisItemInfo.Name)" />
                        <PropertyColumn Title="單位" Property="@(i => i.AnalysisItemInfo.Unit)" />
                        <PropertyColumn Title="每100g含量" Property="@(i => i.Value)" />
                    </FluentDataGrid>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="6">
                    <FluentDataGrid Items="@pair2.Value.AsQueryable()" Style="width: 60%; table-layout: auto;">
                        <PropertyColumn Title="分析項名稱" Property="@(i => i.AnalysisItemInfo.Name)" />
                        <PropertyColumn Title="單位" Property="@(i => i.AnalysisItemInfo.Unit)" />
                        <PropertyColumn Title="每100g含量" Property="@(i => i.Value)" />
                    </FluentDataGrid>
                </FluentGridItem>
            </FluentGrid>
        </FluentCard>
    }
}

@code {
    [Parameter] public string Id1 { get; set; } = "D32004"; // apple
    [Parameter] public string Id2 { get; set; } = "D08001"; // banana

    Dictionary<string, AnalysisItem[]> analysisItemsByCatagory1 = [];
    Dictionary<string, AnalysisItem[]> analysisItemsByCatagory2 = [];
    string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        var sample1 = await SampleService.GetSampleAsync(Id1);
        if (sample1 == null)
        {
            errorMessage = "Sample 1 not found.";
            return;
        }
        var sample2 = await SampleService.GetSampleAsync(Id2);
        if (sample2 == null)
        {
            errorMessage = "Sample 2 not found.";
            return;
        }
        analysisItemsByCatagory1 = sample1.AnalysisItemsByCatagory;
        analysisItemsByCatagory2 = sample2.AnalysisItemsByCatagory;
    }
}