@page "/sample-details/{IntegrationId}"
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager
@inject IDbContextFactory<SamplesContext> DbFactory

<h1>Sample Details</h1>

@if (Sample != null)
{
	<div>
		<h3>General Information</h3>
		<p><strong>整合編號:</strong> @Sample.Id</p>
		<p><strong>樣品名稱:</strong> @Sample.Name</p>
		<p><strong>俗名:</strong> @Sample.CommonName</p>
		<p><strong>樣品英文名稱:</strong> @Sample.EnglishName</p>
		<p><strong>內容物描述:</strong> @Sample.ContentDescription</p>
		<p><strong>食品分類:</strong> @Sample.FoodCatagory.Name</p>
	</div>

	@if (Items != null)
	{
		<div>
			<h3>Analysis Items</h3>
			<table>
				<tbody>
					@foreach (var pair in Items)
					{
						<details>
							<summary>@pair.Key</summary>
							<ul>
								@foreach (var item in pair.Value)
								{
									<li>@item.AnalysisItemInfo.Name</li>
									<li>@item.AnalysisItemInfo.Unit</li>
									<li>@item.Value</li>
								}
							</ul>
						</details>
					}

				</tbody>
			</table>
		</div>
	}
}
else if (IsLoading)
{
	<p>Loading...</p>
}
else
{
	<p>Sample not found.</p>
}

@code {
	[Parameter] public string IntegrationId { get; set; }

	private Sample? Sample { get; set; }
	private Dictionary<string, AnalysisItem[]>? Items { get; set; }
	private bool IsLoading { get; set; } = true;

	protected override async Task OnInitializedAsync()
	{
		// string uri = NavigationManager.BaseUri + "samples";
		// var response = await HttpClient.GetFromJsonAsync<List<Sample>>(uri); // 注意這裡是相對路徑
		// Sample = response?.FirstOrDefault();

		using var context = DbFactory.CreateDbContext();
		Sample = await context.Samples
		.Include(s => s.FoodCatagory)
		.Include(s => s.AnalysisItems)
		.ThenInclude(ai => ai.AnalysisItemInfo)
		.ThenInclude(aii => aii.AnalysisItemCatagoryInfo)
		.FirstOrDefaultAsync(s => s.Id == IntegrationId);
		Items = Sample?.AnalysisItems
		.GroupBy(x => x.AnalysisItemInfo.AnalysisItemCatagoryInfo.Name)
		.ToDictionary(g => g.Key, g => g.ToArray());

		IsLoading = false;
	}

	private void GoBack()
	{
		NavigationManager.NavigateTo("/samples");
	}
}
