@page "/sample-details/{IntegrationId}"
@using NutritionApp.Models
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<h3>Sample Details</h3>

@if (Sample != null)
{
	@for (var i = 0; i < Sample.AnalysisItemCatagories.Length; i++)
	{
		var item = Sample.AnalysisItemCatagories[i];
		<tr>
			<td>@i</td>
			<td>@item.分析項分類</td>
			<td>@item.AnalysisItem.分析項</td>
			<td>@item.AnalysisItem.單位</td>
			<td>@item.AnalysisItem.每100克含量</td>
		</tr>
	}
	<button @onclick="GoBack">Back to List</button>
}
else if (IsLoading)
{
	<p>Loading...</p>
}
else
{
	<p>Sample not found.</p>
}

@code {
	[Parameter] public string IntegrationId { get; set; }

	private Sample Sample { get; set; }
	private bool IsLoading { get; set; } = true;

	protected override async Task OnInitializedAsync()
	{
		string uri = NavigationManager.BaseUri + "sample-list";
		var response = await HttpClient.GetFromJsonAsync<List<Sample>>(uri); // 注意這裡是相對路徑
		Sample = response?.FirstOrDefault();

		IsLoading = false;
	}

	private void GoBack()
	{
		NavigationManager.NavigateTo("/samples");
	}
}
